---
import { getCollection } from "astro:content";
import { ProjectCont } from "../ProjectCont";
import { HiArrowUpRight } from "react-icons/hi2";
import ImageCont from "../ImageCont.astro";

const projects = await getCollection("projects");
---

<div
  id="projects"
  class="relative z-[1] flex flex-col items-center gap-12 mx-auto w-full pb-12 pt-[150px]
    px-8"
>
  <h1 class="text-[#fff] text-5xl font-bold">Projects</h1>
  <div class="columns-1 gap-8 w-full full:columns-2">
    {
      projects
        .sort((a, b) => a.data.order - b.data.order)
        .map((project) => (
          <ProjectCont client:load>
            <ImageCont
              image={project.data.cover}
              title={project.data.title}
              githubRepo={project.data.githubRepo}
              techs={project.data.techsUsed}
            />
            <div class="relative h-full flex flex-col flex-1 gap-5 laptop:gap-3">
              <div class="relative flex justify-between items-start ">
                <h1 class="text-[#fff] text-lg font-bold tracking-wide">
                  {project.data.title}
                </h1>
                <a href={project.data.url} target="_blank">
                  <button
                    class="flex items-center px-4 py-1 font-medium text-md rounded-full 
                gap-3 bg-transparent border transition duration-200 border-white/20
                hover:bg-white hover:text-[#100316]"
                  >
                    <HiArrowUpRight className="ml-[2px]" />
                    <span class="text-sm tablet:text-base">Visit Web</span>
                  </button>
                </a>
              </div>
              <span class="text-sm text-white/50 text-left grow h-[100%]">
                {project.data.description}
              </span>
            </div>
          </ProjectCont>
        ))
    }
  </div>
</div>
